.navbar.navbar-light.navbar-expand.bg-white.shadow.mb-4.topbar.static-top {
  margin-left: 0px;
}

@media (min-width: 576px) {
  .list-group-item.bg-success.heading {
    height: 25px;
  }
}

@media (min-width: 576px) {
  .list-group-item.bg-success.heading {
    height: 52px;
  }
}

@media (min-width: 576px) {
  .list-group-item.bg-success.heading {
    height: 55px;
  }
}

@media (max-width: 400px) {
  .list-group-item.bg-info.heading {
    height: 102px;
    max-height: 99px;
    min-height: 74px;
  }
}

